body{
  text-align:center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color:#FFF8DC;
  color:#5F9Ea0;
  margin:0px 0px 30px 0px;
}

h1{
  font-size:80px;
  font-weight:700;
  display: inline-block;
}

p{
  font-size:20px;
  line-height:1.5;
}

img{
  width: 100%;
}

h2{
  color:#E9967A;
  font-size:40px;
}

h3{
  font-size:22px;
  font-style:italic;
}

h4{
  font-size:20px;
  font-style:bold;
}

.greentitle{
  color:#008080;
}
.bluetitle{
  color:#4682B4;
}

.purpletitle{
  color:rgb(161, 88, 139);
}

.graytitle{
  color:#708090;
}

section{
  width:60%;
  margin:0% auto;
}

section section{
  width:100%;
}

#what{
  display:inline-block;
  width:40%;
  padding-right:5%;
}

#why{
  display:inline-block;
  width:40%;
  padding-left:5%;
}

#where{
  display:inline-block;
  width:40%;
  padding-right:5%;
}

#who{
  display:inline-block;
  width:40%;
  padding-left:5%;
}

#menus p{
  font-size:15px;
  line-height:1;
}

ul{
  list-style-type:none;
  line-height:2;
  padding-left:0;
}

a{
  color:#BC8F8F;
  font-weight:700;
  text-decoration:none;
}

.mainMenu {
  background:#FFDEAD;
  height:40px;
  max-width:60%;
  margin:0% auto;
}

.mainMenu a{
  color:#E9967A;
  font-weight:normal;
  text-decoration:underline;
}

.mainMenu li{
  display: inline-block;
  line-height:2.5;
  margin:0 55px;
}

.contact img{
  max-height:50%;
  max-width:25% ;
  margin:0% auto;
} 